{
displayStrings = (
"-+−",
"∂",
"∫",
"™",
"‰",
"|",
"|¦",
"̑",
r,
"̑ȓ",
"̭",
"ɥ",
"̂ĥ",
"ə",
"ǝ",
e,
"æ",
"ð",
"̰",
"Ə",
"/periodcentered.loclCAT.case ĿL",
T,
"̭Ṱ",
"̭Ṱ",
"̨OǪ",
R,
"̌Ř",
"=ǂ",
"Ɔ",
"̈Ȫ",
"Ƴ",
"Ɛ",
"Ʌ",
V,
"ɯ",
"¢",
"",
$,
"€",
"◌",
"˛",
"Ľ",
L,
"L/caroncomb.alt Ľ",
"L/caroncomb.alt Ľ",
"̱Ṉ"
);
}
