{
displayStrings = (
"/Eng.loclNSM",
"Ŋn",
"JŊ",
"ﬁ",
"H†",
"†‡",
"HE
TH
ri
ለኝ
ሊያ
መሠ
መሥ
ሥራ
ሧን
ሯት
ስለ
ስሜ
ስሟ
ሶች
ቢኖ
ነገ
ኣብ
ኪያ
ውኃ
ውነ
ዚያ
ጨመ
ጽሑ
fo

OO
ti
al

tw
ff

ኪያዚያ",
"HE
TH
ex
ri
al
ሁሉ
ለኝ
መሠ
መሥ
ሚገ
ሥራ
ስለ
ውኃ
ዚያ
ጨመ
ጽሑ
fo

OO
ew
ci
ti

rv
tw
ማዊ
ff
",
"HE
OO
TH
ex
ci
ri
al
ሁላ
ሉት
መሠ
ሥራ
ረጉ
ሬት
ስለ
ስሜ
ስሟ
ታዊ
ነገ
ኪያ
ውኃ
ውነ
ጨመ
fo

tw
zz
ti

RA
XX
rv
ማዊ
ff

ኪያnirvid 
ጨመnizzid 
ጨመnizzid 
ውነTEHRADIV 
TEHCADIV 
TEHCADIV TEHRADIV 
ስሟስሜ
ስሟስሜ",
"ስሟ

niewid 
TEHLLDIV 
nirlid 
nirlid niffid 
niofid 
nitzid 
TEHETDIV 
TEHTIDIV 
TEHSTDIV 
r-
nixtid 
TEHIDIV 
TEHLADIV 
TEHXHDIV 
nittid 
niofid 
nizzid 
TEHRADIV 
TEHLADIV 
nirlid 
TEHCADIV 
TEHXXDIV 
nixtid 
TEHIDIV 
TEHXHDIV 
TEHCHDIV 
TEHETDIV 
TEHTIDIV 
TEHSTDIV 
r-
Fider 
Cider 
Boider 
A.
ኣብ
nisid 
niesid 
nissid 
Kider 
TEHIIDIV 
TEHIADIV 
nitsid 
nissid 
nittid 
Kider 
TEHSADIV 
nisid 
ስሟስሜ
ለኝቢኖ
nizzid 
niewid 
TEHRADIV 
nisid 
nitsid ",
"ኪያ
ስሜ

nissid 
TEHSADIV 
TEHCHDIV 
nicid 
nitzid 
Cider 
niesid 
TEHCHDIV TEHOODIV 
TEHCHDIV TEHOODIV 
TEHIDIV 
TEHETDIV 
TEHXHDIV 
Fider 
niofid 
nisvid 
A.
nittid 
nizid 
TEHIIDIV 
nixtid "
);
}
