{
displayStrings = (
"ይ",
"የዩዪያዬይዮዯደዱዲዳዴድዶዷዸዹዺዻዼዽዾዿጀጁጂጃጄጅጆጇⶌⶍⶎ",
"
መሠBoider TEHOODIV TEHEDIV 
መሠBoider TEHOODIV TEHEDIV 
ማዊKider ",
"CA
ዎች

ማዊKider 
ዎችnikwid 
ዎችnitvid 
ዎችnixtid 
ጨመnizzid 
ዎችTEHXXDIV 
TEHSADIV 
TEHSADIV TEHBADIV 
nitsid 
-f
-t
niwuid 
nizid niwuid 
nifuid 
niutid 
nikyid 
ዎችnikyid 
r:
TEHYODIV 
nifsid 
-G
H!
TEHLYDIV 
TEHEHDIV 
ቢኖ
ለኝቢኖ
s:
nisyid 
nizoid 
TEHFADIV 
ninuid 
c.
u:
nikvid 
ዎችTEHIADIV 
ዎችnikvid 
ዎችTEHXXDIV 
nikyid nikvid 
niwuid Kider 
TEHFODIV 
TEHRTDIV 
TEHTDIV TEHTHDIV 
TEHASDIV 
nisyid nisvid 
nirlid nirid 
Eider 
TEHFFDIV 
TEHCIDIV 
TEHXVDIV 
TEHFUDIV 
-V
-W
-W-G
-V-W
-T
y-
-v
-v
-v
nictid 
niorid 
niroid 
nirzid 
TEHESDIV 
nicuid 
Zider 
nieoid 
\"T
H’
Vider 
niswid 
f-
H'
Twider 
nitaid 
Twider ዚያሉት
t’
t'
Quider 
TEHCUDIV 
TEHGIDIV 
TEHVHDIV 
TEHIDIV TEHIDIV 
TEHCUDIV TEHVHDIV 
TEHCODIV 
k-
Wider 
Flider 
’t
TEHEXDIV 
ታዊ
nicaid 
ዎችnikwid 
Wider 
nirzid 
nikyid 
ዎችnikyid 
Zider 
nieoid 
-f
niwuid 
nizoid 
TEHCODIV 
t'
r:
TEHFUDIV 
Cider 
nitaid 
TEHVHDIV 
TEHFODIV 
-v
A.
-V
s-
-T
\"T
k-
nifsid 
nictid 
nictid nixtid 
ዎችTEHXXDIV 
nicuid 
u:
Twider 
TEHXVDIV 
f-
H’
’t
TEHESDIV 
Isider 
TEHFADIV 
TEHEXDIV 
TEHEHDIV 
TEHCUDIV 
nicaid 
Eider 
s:
nirtid 
niswid 
nicyid 
niksid 
Exider 
nivsid 
ሧን
nivaid 
nitfid 
TEHRTDIV 
H'
ለገ
Boider 
ሶች
c.
TEHPODIV 
TEHTTDIV 
TEHLSDIV ",
"HየደHH
",
"CA
ዎች
y-

ሧንTwider 
ጨመTEHSADIV 
TEHOODIV nisid TEHCHDIV 
ዎችnittid 
ዎችnittid 
ዎችnitwid 
TEHLYDIV መሥጽሑሥራ
TEHLYDIV መሥጽሑሥራ
ዎችnisvid ",
"OO
ti

ዎችnisvid 
ኪያnirid 
ኪያnirid 
ዚያnifid 
ዚያTEHRADIV 
ሶችTEHRADIV 
ስሜጽሑ
ስሟጽሑ
ዎችnitwid 
niftid 
TEHEXDIV 
Vider 
nieoid 
TEHFUDIV 
TEHEHDIV 
TEHCIDIV 
TEHFODIV 
nicuid 
nifoid ሟጽ
-t
TEHEVDIV 
TEHCUDIV 
TEHCODIV 
Flider 
-T
ninuid 
k-
Eider 
nivsid 
TEHASDIV 
H’
TEHIVDIV 
nikvid 
H!
nictid 
nitaid 
TEHVHDIV 
f-
\"T
s:
Frider 
Exider 
Exider TEHRADIV 
TEHRHDIV 
TEHRODIV 
TEHRODIV TEHXHDIV 
-W
TEHRTDIV 
nirtid 
t’
’t
u:
niefid 
H'
niksid 
TEHESDIV 
niorid 
niroid 
Zider 
TEHISDIV 
TEHPODIV 
-f
TEHEADIV 
nirzid 
TEHRUDIV 
Wider 
't
nifsid 
TEHCTDIV 
TEHLODIV 
y'
Mider 
Grider 
TEHFADIV 
TEHTIDIV 
t'
nitfid 
Twider 
Twider nixtid 
Isider 
Quider 
niwaid 
ሬት
nisyid 
nifsid nixtid 
TEHCUDIV TEHVHDIV 
Roider ",
"ስሜ
"
);
}
